.sign-in{
    width : 40%;
    display : flex;
    flex-direction: column;
    
    .span{
        margin-top :-20px;
    }
    .button{
        display : flex;
        justify-content: space-between;
    
    }
    
}

